.board-cell{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 5rem;
  place-self: center;
  border: 1px solid whitesmoke;
}

.board-cell:hover{
  background-color: whitesmoke;
}